<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <div class="a col-sm-12 col-md-7 col-lg-7">
            <h2>Carrito de compras</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ea dolorum adipisci illum! Exercitationem possimus deleniti ipsam, hic in dolores a aliquid cumque iste itaque consequatur nihil cupiditate suscipit quasi.</p>
        </div>
        <div class="b col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1">
            <img src="../../../assets/foto.jpg" class="img-fluid im-p" alt="">
        </div>
        <div class="a col-sm-12 col-md-7 col-lg-7">
            <h2>Recipe App</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ea dolorum adipisci illum! Exercitationem possimus deleniti ipsam, hic in dolores a aliquid cumque iste itaque consequatur nihil cupiditate suscipit quasi.</p>
        </div>
        <div class="b col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1">
            <img src="../../../assets/foto.jpg" class="img-fluid im-p" alt="">
        </div>
    </div>
</div>